# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!example.tfvars
.terraform.lock.hcl

# Ansible
*.retry
ansible/inventory/**/*.ini
ansible/inventory/**/group_vars/private.yml
ansible/inventory/**/group_vars/all/terraform.yml

# Secrets
*.pem
*.key
.env

# OS
.DS_Store
Thumbs.db
